<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="profile-card" *ngIf="userProfile">
    <img src="assets/profile-background.jpg" alt="Profile" class="background-image"/>
    <ion-avatar slot="start">
      <img src="assets/user-avatar.png" alt="User Avatar"/>
    </ion-avatar>
    <ion-card-header>
      <ion-card-title>{{ userProfile?.name }}</ion-card-title>
      <ion-card-subtitle>{{ userProfile?.email }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="person-circle-outline" slot="start"></ion-icon>
          <ion-label>{{ userProfile?.username }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label>{{ userProfile?.birthdate | date }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="document-text-outline" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap">{{ userProfile?.bio }}</ion-label>
        </ion-item>
        <!-- Add more profile details here -->
      </ion-list>
      <ion-button expand="block" (click)="editProfile()">Edit Profile</ion-button>
      <!-- <ion-button expand="block" color="medium" (click)="logout()">Log Out</ion-button> -->
      
      <!-- New Delete Profile button -->
      <ion-button expand="block" color="danger" (click)="deleteProfile()">Delete Profile</ion-button>

      <!-- New Clear Sleep Data button -->
      <ion-button expand="block" color="secondary" (click)="clearSleepData()">Clear Sleep Data</ion-button>

      <ion-button expand="block" (click)="importSleepData()">Import Sleep Data</ion-button>

    </ion-card-content>
  </ion-card>
  <div *ngIf="!userProfile">
    <p>User profile not available. Please complete your profile.</p>
  </div>

</ion-content>
