<ion-header>

</ion-header>

<ion-content>
  <div *ngIf="showWelcome" @fadeInOut class="welcome-container">

    <h2>Welcome to BetterSleep</h2>
    <p>a personalized app for your better sleep and health</p>
    <ion-button (click)="getStarted()">Get Started</ion-button>
  </div>

  <div *ngIf="!showWelcome" @fadeInOut class="form-container">
    <!-- User information form -->

    <form #introForm="ngForm" (ngSubmit)="submitForm()">
      <ion-list>

        <ion-item>
          <ion-label position="floating">Full Name</ion-label>
          <ion-input [(ngModel)]="userProfile.name" name="name" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input [(ngModel)]="userProfile.username" name="username" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="userProfile.email" name="email" type="email" required></ion-input>
        </ion-item>

        <!-- For Birthday -->
        <ion-item (mousedown)="$event.preventDefault()" (click)="togglePicker('birthday')">
          <ion-label position="floating">Birthday</ion-label>
          <ion-input [value]="birthdateISO | date: 'MMM dd, yyyy'" readonly></ion-input>
        </ion-item>
        <ion-datetime *ngIf="showBirthdayPicker" [(ngModel)]="birthdateISO" name="birthdate" presentation="date" displayFormat="MMM DD, YYYY" pickerFormat="MMM DD YYYY" (ionChange)="togglePicker('birthday', false)"></ion-datetime>



        
         <ion-item>
          <ion-label position="floating">Gender</ion-label>
          <ion-select [(ngModel)]="userProfile.gender" name="gender" required>
            <ion-select-option value="female">Female</ion-select-option>
            <ion-select-option value="male">Male</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Short Bio</ion-label>
          <ion-textarea [(ngModel)]="userProfile.bio" name="bio"></ion-textarea>
        </ion-item>



        <ion-item (mousedown)="$event.preventDefault()" (click)="togglePicker('preferredSleepTime')">
          <ion-label position="floating">Preferred Sleep Time</ion-label>
          <ion-input [value]="userProfile.preferredSleepTime | date: 'HH:mm'" readonly></ion-input>
        </ion-item>
        <ion-datetime *ngIf="showSleepTimePicker" [(ngModel)]="userProfile.preferredSleepTime" name="preferredSleepTime" presentation="time" displayFormat="HH:mm" (ionChange)="togglePicker('preferredSleepTime', false)"></ion-datetime>
        

        <ion-item (mousedown)="$event.preventDefault()" (click)="togglePicker('preferredWakeUpTime')">
          <ion-label position="floating">Preferred Wake Up Time</ion-label>
          <ion-input [value]="userProfile.preferredWakeUpTime | date: 'HH:mm'" readonly></ion-input>
        </ion-item>
        <ion-datetime *ngIf="showWakeTimePicker" [(ngModel)]="userProfile.preferredWakeUpTime" name="preferredWakeUpTime" presentation="time" displayFormat="HH:mm" (ionChange)="togglePicker('preferredWakeUpTime', false)"></ion-datetime>




      </ion-list>
      <ion-button type="submit" expand="block" [disabled]="!introForm.valid">Complete Profile</ion-button>
    </form>
  </div>
</ion-content>
